@import url(fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: El Messiri;
    
}

body{  
    
}
.wrap {
    width: 1920px;
    height: 5155px;
    background-color: #162831;
    margin: 0 auto;
}
.container {
    width: 1298px;
    margin: 0 auto;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
ul.nav-list{
display: flex;
}
ul.nav-list li{
    list-style-type: none;
    /* text-transform: capitalize; */
    margin: 0 auto;
}
ul.nav-list li a{
    text-decoration: none;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    margin-right: 50px;
    color: #fff;
 }


 a.nav-button {
    width: 155px;
    height: 36px;
    font-family: Proxima Nova Semibold;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    background: #018ABE;
    text-decoration:none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
 }

 /* promoblock */
.promoblock {
    margin-top: 50px;
}
.promo-img {
    background-image: url(/img/promo-header.jpg);
    width: 1296px;
    height: 600px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promoblock-subtitle {
    color:#fff;
    font-weight: 700;
    font-size: 24px;
text-align: center;
}
.promoblock-subtitle::before {
    content: url(/img/Rectangle-3.svg);
    width: 28px;
    height: 14px;
    margin-right: 66px;
} 
.promoblock-subtitle::after {
    content: url(/img/Rectangle-5.svg);
    width: 28px;
    height: 14px;
     margin-left: 66px;
} 

 .promoblock_title{
    width: 330px;
    color:#fff;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    margin-top: 40px;

 }
